.h2{
  background-color: rgb(198, 201, 203);
  color: rgb(53, 187, 202);
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}